<%- include('includes/head.ejs', {username: username}) %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Inclusión de Tailwind CSS desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4 sm:ml-20 sm:mr-10 font-sans">
        <h1 class="text-2xl font-bold mb-4">Analítica</h1>
        <div class="flex flex-col justify-right p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 bg-slate-200">
            <div class="inline-flex justify-between items-center mb-4">
                <p>Aquí va el contenido de tu caso de uso, confío en ti, ¡o7!</p>
                <div class="flex space-x-2">
                    <button class="bg-white hover:bg-indigo-600 text-indigo-600 hover:text-white py-2 px-4 rounded-full transition duration-300">Texto genérico 1</button>
                    <button class="bg-white hover:bg-indigo-600 text-indigo-600 hover:text-white py-2 px-4 rounded-full transition duration-300">Texto genérico 2</button>
                </div>
            </div>
            <div class="flex justify-center sm:mt-4 p-1 border-1 border-gray-200 rounded-lg dark:border-gray-200 bg-white">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Lead</th>
                            <th scope="col" class="px-6 py-3">Fecha</th>
                            <th scope="col" class="px-6 py-3">Creador</th>
                            <th scope="col" class="px-6 py-3">Eliminar</th>
                            <th scope="col" class="px-6 py-3">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let lead of leads) {%>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-4"> <%= lead.NombreLead %> a </td>
                            <% console.log("Nombre del lead:", lead.NombreLead); %>
                            <td class="px-6 py-4"><%= lead.FechaPrimerMensaje%></td>
                            <% console.log("Fecha del primer mensaje:", lead.FechaPrimerMensaje); %>
                            <td class="px-6 py-4"><%= lead.asignado_a%></td>
                            <td class="px-6 py-4 text-center">
                                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">
                                    Eliminar
                                </button>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
                                    Modificar
                                </button>
                            </td>
                        </tr>
                        <%}%>
                        <!-- Más filas según sea necesario -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>